.header {
    /* background-color: aqua; */
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header p {
    color: aqua;
    font-size: 40px;
    font-weight: bold;
}